{
  "root": true,
  "ignorePatterns": [
    "**/lib/**/*",
    "**/node_modules/**/*",
    "**/*.json",
    "!.husky"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "react-hooks",
    "import",
    "comments"
  ],
  "rules": {
    "comments/limit-single-line-comments": "warn",
    "comments/limit-multi-line-comments": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "import/no-unresolved": "off",
    "import/no-relative-packages": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false,
        "bundledDependencies": false
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}